@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Rubik-Light.ttf') format('truetype'),
         url('../fonts/Rubik-Light.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 300;
    src: url('../fonts/Rubik-LightItalic.ttf') format('truetype'),
         url('../fonts/Rubik-LightItalic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Rubik-Regular.ttf') format('truetype'),
         url('../fonts/Rubik-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Rubik-Italic.ttf') format('truetype'),
         url('../fonts/Rubik-Italic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Rubik-Medium.ttf') format('truetype'),
         url('../fonts/Rubik-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 500;
    src: url('../fonts/Rubik-MediumItalic.ttf') format('truetype'),
         url('../fonts/Rubik-MediumItalic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Rubik-SemiBold.ttf') format('truetype'),
         url('../fonts/Rubik-SemiBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/Rubik-SemiBoldItalic.ttf') format('truetype'),
         url('../fonts/Rubik-SemiBoldItalic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Rubik-Bold.ttf') format('truetype'),
         url('../fonts/Rubik-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/Rubik-BoldItalic.ttf') format('truetype'),
         url('../fonts/Rubik-BoldItalic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/Rubik-ExtraBold.ttf') format('truetype'),
         url('../fonts/Rubik-ExtraBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 800;
    src: url('../fonts/Rubik-ExtraBoldItalic.ttf') format('truetype'),
         url('../fonts/Rubik-ExtraBoldItalic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/Rubik-Black.ttf') format('truetype'),
         url('../fonts/Rubik-Black.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-style: italic;
    font-weight: 900;
    src: url('../fonts/Rubik-BlackItalic.ttf') format('truetype'),
         url('../fonts/Rubik-BlackItalic.woff') format('woff');
    font-display: swap;
}