$sidebar-width: 12rem;
$sidebar-width-mobile: 50vw;

$background-color-1: #DCD7C9;
$background-color-2: #2C3639;
$background-color-3: #A27B5C;
$background-color-4: #185519;


html {
    box-sizing: border-box;
    background-color: $background-color-1;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: "Rubik";
    overflow: hidden;
}

header {
    position: fixed;
    width: 100vw;
    top: 0vh;
    height: 0rem;
    visibility: hidden;
    background-color: $background-color-2;
    color: white;
    border-bottom: 1rem;
    border-color: white;


    button.menu-btn {
        font-size: 1.4rem;
        font-weight: bolder;
        color: inherit;
        background: none;
        border: 0rem;
    }

    button.menu-btn:hover {
        background-color: $background-color-3;
    }


}

div.sidebar {
    position: fixed;
    top: 0vh;
    margin: 0;
    padding: 0;
    width: $sidebar-width;
    background-color: $background-color-2;
    height: 100%;
    overflow: hidden;
    transition: transform 0.2s ease;

    a.sidebar-button {
        display: block;
        padding: 1rem;
    }

    a:hover {
        background-color: $background-color-4;
    }

    .hidden {
        transform: translateX(-100%);
    }

    a, p {
        color: white
    }
}

div.sidebar-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        margin-block-start: 0em;
        margin-block-end: 0em;
    }

    p.credits {
        padding: 1rem;

    }
}



main {
    margin-left: $sidebar-width;
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

@media screen and (max-width: 700px) {
    header {
        height: 1.8rem;
        padding: 0.1rem;
        visibility: visible;
    }


    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.hidden {
        top: 2rem;
        height: calc(100vh - 1.97rem);
    }

    .sidebar.show {
        transform: translateX(0);
        width: 50vw;
    }

    main {
        margin-left: 0rem;
        margin-top: 1.97rem;
    }
}

@media screen and (min-width: 1000px) {
    main {
        padding-left: 10vw;
        padding-right: 10vw;
    }
}

h1.page-heading {
    margin-block-start: 1rem;
}